<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Calendar</title>
    <style>
      #calendar {
        width: 100%;
        
      }
    </style>
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1> Welcome to your online calendar app
    </h1>
    <nav>
      <button>Let's Plan Somthing</button>
      <button>Let's See Your Calendar</button>
    </nav>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

</html>
