<div >
    <div>
        <h2>What's Your Party</h2>

        <form class="new-event-form">
            <div>
                <label for="event-name">Title:</label>
                <input class="" type="text" id="event-name" name="name"/>
            </div>
            <br>
            <div>
                <label for="event-description">Description:</label>
                <input class="" type="text" id="event-description" name="description" />
            </div>
            <br>
            <div>
                <label for="event-start">Start Date:</label>
                <input class="" type="datetime-local" id="event-start" name="start_date" />
            </div>
            <br>
            <div>
                <label for="event-end">End Date:</label>
                <input class="" type="datetime-local" id="event-end" name="end_date" />
            </div>
            <br>
            <br>
            <input class="" type="submit" id=""> 
        </form>
    </div>

</div>

<script src="/js/event.js"></script>