<body class="bg-gray-200 h-screen flex items-center justify-around">
  <button onclick=location.href='/calendar' class="bg-blue-500 hover:bg-blue-700 text-white text-4xl font-bold py-10 px-8 rounded-full">
    Calendar
  </button>
  <button onclick=location.href="/events" class="bg-blue-500 hover:bg-blue-700 text-white flex-wrap text-4xl font-bold py-10 px-8 rounded-full">
    Events
  </button>
</body>